<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/calendar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<meta name="description" content="Træningsapp fra PT & Sundhed - Sammen finder vi vejen">
  	<meta name="keywords" content="træning, app,">
 	<script src="js/index.js" defer>
 	</script>	
	<title></title>
</head>
<body>
<div>
  <a href="frontpage.html">
    <img src="img/backarrow.png" alt="Back" class="backarrow">
  </a>
</div>
<!--kalender-->
<div class="container">
      <div class="calendar">
        <div class="front">
          <div class="current-date">
            <h1>Friday 18th</h1>
            <h1>December 2020</h1>	
          </div>

          <div class="current-month">
            <ul class="week-days">
              <li>MON</li>
              <li>TUE</li>
              <li>WED</li>
              <li>THU</li>
              <li>FRI</li>
              <li>SAT</li>
              <li>SUN</li>
            </ul>

            <div class="weeks">
              <div class="first">
                <span class="last-month">30</span>
                <span>01</span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
                <span>05</span>
                <span>06</span>
              </div>

              <div class="second">
                <span>07</span>
                <span>08</span>
                <span>09</span>
                <span>10</span>
                <span>11</span>
                <span>12</span>
                <span>13</span>
              </div>

              <div class="third">
                <span>14</span>
                <span>15</span>
                <span>16</span>
                <span>17</span>
                <span class="active">18</span>
                <span>19</span>
                <span>20</span>
              </div>

              <div class="fourth">
                <span>20</span>
                <span>21</span>
                <span>22</span>
                <span>23</span>
                <span class="event">24</span>
                <span>25</span>
                <span>26</span>
              </div>

              <div class="fifth">
                <span>27</span>
                <span>28</span>
                <span>29</span>
                <span>30</span>
                <span>31</span>
                <span>01</span>
                <span class="next-month">02</span>

              </div>
            </div>
          </div>
        </div>

        <div class="back">
          <input placeholder="What's the event?">
          <div class="info">
            <div class="date">
              <p class="info-date">
              Date: <span>Dec 24th, 2020</span>
              </p>
              <p class="info-time">
                Time: <span>6:00 PM</span>
              </p>
            </div>
            <div class="address">
              <p>
                Address: <span>Seebladsgade 1, 5000 Odense C</span>
              </p>
            </div>
            <div class="observations">
              <p>
                Note: <span>Christmas eve</span>
              </p>
            </div>
          </div>

          <div class="actions">
            <button class="save">
              Save <i class="ion-checkmark"></i>
            </button>
            <button class="dismiss">
              Dismiss <i class="ion-android-close"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
<!--Kalender slut-->

</body>
</html>