<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/message.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<meta name="description" content="Træningsapp fra PT & Sundhed - Sammen finder vi vejen">
  	<meta name="keywords" content="træning, app,">
 	<script src="js/index.js" defer>
 	</script>		
	<title></title>
</head>
<body>
<div>
  <a href="frontpage.html">
    <img src="img/backarrow.png" alt="Back" class="backarrow">
  </a>
  <!-- Trigger notifications -->
<button id="myBtn"><i class="fa fa-bell"></i></button>
</div>
<br>
<br>
<!--Notification-->
<!-- The notifications -->
<div id="mynotification" class="notification">

  <!-- notification content -->
  <div class="notification-content">
    <div class="notification-header">
      <span class="close">&times;</span>
      <h2>Notifications</h2>
    </div>
    <div class="notification-body">
      <p>You got (0) notifications</p>
      <p></p>
    </div>
  </div>

</div>
<!--notification slut-->
<!--Chat-->
<div class="container">
  <img src="img/usericon.png" alt="Avatar" style="width:100%;">
  <p>Hello. How are your training going today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="img/usericon2.png" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! It's moving forward. It's tough training you made for me today. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="img/usericon.png" alt="Avatar" style="width:100%;">
  <p>Sweet! So, how far are you? <br> Do you have any questions?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="img/usericon2.png" alt="Avatar" class="right" style="width:100%;">
  <p>I'm just about halfway through. Do you think I could do a 100 squats extra though?</p>
  <span class="time-left">11:05</span>
</div>

<div class="container">
  <img src="img/usericon.png" alt="Avatar" style="width:100%;">
  <p>I think that would be pushing it. You wouldn't want you to hurt yourself. <br> I love the enthusiasm though! You'll be summer-ready in no time!</p>
  <span class="time-right">11:02</span>
</div>
<hr class="solid">
<div>
  <input type="text" class="mbox">
  <button id="myBtn"><i class="fa fa-send"></i></button>
</div>
<!--Chat slut-->

</body>
</html>