<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/food.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
  	<meta name="description" content="Træningsapp fra PT & Sundhed - Sammen finder vi vejen">
  	<meta name="keywords" content="træning, app,">
 	<script src="/index.js" defer>
 	</script>
  <script src="/food.js" defer>¨
  </script>
	<title></title>
</head>
<body>
<div class="topbox">
<div>
  <a href="frontpage.html">
    <img src="img/backarrow.png" alt="Back" class="backarrow">
  </a>
  <h1>Meal Plan</h1>
</div>
</div>
<br>
<br>
<button class="collapsible">Monday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself some spiced banana-chocolate muffins. These fiber-filled muffins are a great way to start the day.
    <br><br>
    For lunch you got to make yourself one medium baked sweet potato with 1/4 cup canned navy beans (rinsed and drained).
    <br><br>
    For dinner theres spicy salmon over ceamy eggplant on the menu.
    <br><br>
    For snack options you got a Peanut Butter Chocolate RXBAR Protein Bar and an Enlightened Bada Bean Bada Boom Snack.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Tuesday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself a breakfast burrito, reinvented. with cilantro, avocado, and chili powder. Enjoy.
    <br><br>
    For lunch you can enjoy 1 cup of steamed lentils with 1 tablespoon each chopped scallions and walnuts, and 1/3 cup each of chopped cucumbers, tomatoes, and carrots.
    <br><br>
    For dinner you can put fries back on the menu by serving sweet and smoky chicken with 3 ounces (about 12) frozen sweet potato fries.
    <br><br>
    For snack options you got 1 cup mixed crudités in a creamy, cheesy dip that's 1/2 cup 0% plain Greek yogurt mixed with 1 wedge Laughing Cow Light Swiss Cheese. Curb cravings later on with a single-serving pack of Whole Foods 365 Cape Cod Trail Mix and 1/2 a container of Siggi's Nonfat Yogurt paired with 1/2 cup fresh or frozen berries.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Wednesday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself KIND Healthy Grains Granola Clusters. Add a touch of sweetness to this colorful berry bowl.
    <br><br>
    For lunch you can enjoy 1 serving of Asian shrimp cups with a side of salad.
    <br><br>
    For dinner you can make cooked spaghetti squash with high protien meatballs and rucola.
    <br><br>
    For snack options you got a mini cheese board by combining 1/2 cup grapes with one piece of part-skim cheese. Later, nosh on one serving Sahale Almonds plus 1 tablespoon of peanut butter and half of a medium pear.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Thursday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself some spiced banana-chocolate muffins. These fiber-filled muffins are a great way to start the day.
    <br><br>
    For lunch you got to make yourself one medium baked sweet potato with 1/4 cup canned navy beans (rinsed and drained).
    <br><br>
    For dinner theres spicy salmon over ceamy eggplant on the menu.
    <br><br>
    For snack options you got a Peanut Butter Chocolate RXBAR Protein Bar and an Enlightened Bada Bean Bada Boom Snack.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Friday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself a breakfast burrito, reinvented. with cilantro, avocado, and chili powder. Enjoy.
    <br><br>
    For lunch you can enjoy 1 cup of steamed lentils with 1 tablespoon each chopped scallions and walnuts, and 1/3 cup each of chopped cucumbers, tomatoes, and carrots.
    <br><br>
    For dinner you can put fries back on the menu by serving sweet and smoky chicken with 3 ounces (about 12) frozen sweet potato fries.
    <br><br>
    For snack options you got 1 cup mixed crudités in a creamy, cheesy dip that's 1/2 cup 0% plain Greek yogurt mixed with 1 wedge Laughing Cow Light Swiss Cheese. Curb cravings later on with a single-serving pack of Whole Foods 365 Cape Cod Trail Mix and 1/2 a container of Siggi's Nonfat Yogurt paired with 1/2 cup fresh or frozen berries.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Saturday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself KIND Healthy Grains Granola Clusters. Add a touch of sweetness to this colorful berry bowl.
    <br><br>
    For lunch you can enjoy 1 serving of Asian shrimp cups with a side of salad.
    <br><br>
    For dinner you can make cooked spaghetti squash with high protien meatballs and rucola.
    <br><br>
    For snack options you got a mini cheese board by combining 1/2 cup grapes with one piece of part-skim cheese. Later, nosh on one serving Sahale Almonds plus 1 tablespoon of peanut butter and half of a medium pear.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button><br><br>
</div>
<button class="collapsible">Sunday</button>
<div class="content">
  <p>
    For breakfast you want to get yourself some spiced banana-chocolate muffins. These fiber-filled muffins are a great way to start the day.
    <br><br>
    For lunch you got to make yourself one medium baked sweet potato with 1/4 cup canned navy beans (rinsed and drained).
    <br><br>
    For dinner theres spicy salmon over ceamy eggplant on the menu.
    <br><br>
    For snack options you got a Peanut Butter Chocolate RXBAR Protein Bar and an Enlightened Bada Bean Bada Boom Snack.
  </p>
  <button class="colapbtn"><i class="fa fa-file"></i>  View Recipes</button><br><br>
  <button class="colapbtn"><i class="fa fa-pencil"></i>  Add to shopping list</button>
  <br>
</div>
<br><br><br>
<a class="savebtn" href="#popup1" type="submit">Request new meal plan</a>

  <div id="popup1" class="overlay">
  <div class="popup">
    <h2>New meal plan requested</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      Thank you for requesting your new meal plan.<br>
      Your new meals will be updated within the next <br>(1) hour(s).
    </div>
</div>
</div>
</body>
</html>
