<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>
	<div class="topbox">
		<br>
		<img src="img/usericon.png" alt="user icon" class="avatar">
		<p class="center">Anders Andersen</p>
	</div>
	<br>
	<br>
	<br>
	<div class="row">
  	<div class="column">
  		<a href="trainingprograms.html">
  		  <img src="img/trainprogram.png" alt="Training programs" class="icon">
  		</a>
  		<a href="progress.html">
  		  <img src="img/growth.png" alt="Training progress overview" class="icon">
  		</a>
    	<a href="notes.html">
    	 <img src="img/notes.png" alt="Notes" class="icon">
    	</a>
    	<a href="pinfo.html">
  		  <img src="img/scale.png" alt="Personal Information" class="icon">
  		</a>
      <a href="message.html">
        <img src="img/message.png" alt="Messages and notifications" class="icon">
      </a>
      <a href="food.html">
        <img src="img/food.png" alt="Training progress overview" class="icon">
      </a>
      <a href="calendar.html">
        <img src="img/calendar.png" alt="Calendar" class="icon">
      </a>
  	</div>
  </div>

</body>
</html>
